<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" />
    <title>Title</title>
</head>
<body>
    <!--navbar -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Course App</a>

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Courses</a>
                </li>

                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>

                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row"></div>
            <div class="col-3 ">
                <!--menu -->
                <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action">Programming</a>
                    <a href="#" class="list-group-item list-group-item-action">Web Developing</a>
                    <a href="#" class="list-group-item list-group-item-action">Mobile Developing</a>

                </div>
            </div>

            <div class="col-9">
                <!--content -->
            </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" ></script>
</body>
</html>