{% extends 'layout.html' %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudlare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
{% endblock %}

{% block page_title %}
    homepage
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-3 ">
                <!--menu -->
                <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action">Programming</a>
                    <a href="#" class="list-group-item list-group-item-action">Web Developing</a>
                    <a href="#" class="list-group-item list-group-item-action">Mobile Developing</a>

                </div>
            </div>

            <div class="col-9">
                <h1> Homepage </h1>
            </div>
        </div>
    </div>

{% endblock %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" ></script> -->
</body>
</html>