<!DOCTYPE html>
<html>
<head>
    <title>Select Company</title>
</head>
<body>
<a href = "/select/?company=Microne">Firma Seç 1</a>
<a href = "/select/">Firma Seç 2</a>
    <h1>Select a Company</h1>
    <form method="get">
        <label for="company">Choose a Company:</label>

        <select name="company" id="company">
            {% for company in account_list %}
                <option value="{{ company.company_name }}">{{ company.company_name }}</option>
            {% endfor %}
        </select>

        <br>
        <input type="submit" value="Select">
    </form>
</body>
</html>
