<div class="page-body">
          <div class="container-xl">
            <div class="card card-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <p class="h3">Company</p>
                    <address>
                      CBU TEKNOKENT<br>
                      Manisa<br>
                      Yunusemre, Muradiye<br>
                    </address>
                  </div>
                  <div class="col-6 text-end">
                    <p class="h3">Client</p>
                    <address>
                      Street Address<br>
                      State, City<br>
                      Region, Postal Code<br>
                    </address>
                  </div>
                  <div class="col-12 my-5">
                    <h1>Bill</h1>
                  </div>
                    <tbody><tr>
                    <td class="text-center">1</td>
                    <td class="text-center">

                    </td>
                    <td class="text-end">Debt: {{ operation.debt }}</td>
                    <td class="text-end">Credit: {{ operation.credit }}</td>
                  </tr>