<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Account Project</title>
</head>

<body>

    <h1>Save Company</h1>
    <ul>
        {% for account in account_list %}
            <li>Company Name: {{ account.company_name }} - Boss : {{ account.boss_name }} - EMail : {{ account.email }} - Telephone : {{ account.telephone }} - Tax : {{ account.tax }}</li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        <fieldset class="form-fieldset">
         <div>
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" required>
        </div>

        <div>
            <label for="boss_name">Boss Name:</label>
            <input type="text" id="boss_name" name="boss_name" required>
        </div>

        <div>
            <label for="email">E-Mail:</label>
            <input type="text" id="email" name="email" name = "email" required>
        </div>

        <div>
            <label for="telephone">Telephone Number:</label>
            <input type="telephone" id="telephone" name="telephone" value="0" required>
        </div>

        <div>
            <label for="tax">Tax ID:</label>
            <input type="tax" id="tax" name="tax" value="0" required>
        </div>
        <button type="submit">Submit</button>
    </fieldset>
</form>
</body>
</html>
