<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Operations</title>
</head>
<body>

    {% for company in account_list %}
        <a href = "/operation/" target = "_blank">{{ company.company_name }}</a>
    {% endfor %}

<h1>Money Operations</h1>
    <!--
    <ul>
        {% for account in account_list %}
            <li>Debt: {{ account.debt }} - Credit : {{ account.credit }} </li>
        {% endfor %}
    </ul>
    -->
    {% for account in account_list %}
<div class="mb-3">
                              <label class="form-label">Debt: {{ account.debt }}</label>
                              <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
                            </div>
<div class="mb-3">
                              <label class="form-label">Credit : {{ account.credit }}</label>
                              <input type="text" class="form-control" name="example-password-input" placeholder="Input placeholder">
                            </div>
{% endfor %}

<form method="post">
        {% csrf_token %}
    <fieldset class="form-fieldset">
        <div class="mb-3">
            <label class="form-label required">Debt:</label>
            <input type="text" class="form-control" autocomplete="off">
        </div>
        <div class="mb-3">
            <label class="form-label required">Credit:</label>
            <input type="text" class="form-control" autocomplete="off">
        </div>
    </fieldset>
    <br>
        <input type="submit" value="Save">
</form>
</body>
</html>
<div class="col-md-6 col-xl-12">
                          <div class="mb-3">
                            <label class="form-label">Image Check</label>
                            <div class="row g-2">
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck" type="checkbox" value="1" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/beautiful-blonde-woman-relaxing-with-a-can-of-coke-on-a-tree-stump-by-the-beach.jpg" alt="Beautiful blonde woman relaxing with a can of coke on a tree stump by the beach" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck" type="checkbox" value="2" class="form-imagecheck-input" checked="">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/brainstorming-session-with-creative-designers.jpg" alt="Brainstorming session with creative designers" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck" type="checkbox" value="3" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/finances-us-dollars-and-bitcoins-currency-money.jpg" alt="Finances - US Dollars and Bitcoins - Currency - Money" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck" type="checkbox" value="4" class="form-imagecheck-input" checked="">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/group-of-people-brainstorming-and-taking-notes-2.jpg" alt="Group of people brainstorming and taking notes" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck" type="checkbox" value="5" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/blue-sofa-with-pillows-in-a-designer-living-room-interior.jpg" alt="Blue sofa with pillows in a designer living room interior" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck" type="checkbox" value="6" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/home-office-desk-with-macbook-iphone-calendar-watch-and-organizer.jpg" alt="Home office desk with Macbook, iPhone, calendar, watch &amp; organizer" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Image Check Radio</label>
                            <div class="row g-2">
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck-radio" type="radio" value="1" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/group-of-people-sightseeing-in-the-city.jpg" alt="Group of people sightseeing in the city" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck-radio" type="radio" value="2" class="form-imagecheck-input" checked="">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/color-palette-guide-sample-colors-catalog-.jpg" alt="Color Palette Guide. Sample Colors Catalog." class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck-radio" type="radio" value="3" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/stylish-workplace-with-computer-at-home.jpg" alt="Stylish workplace with computer at home" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck-radio" type="radio" value="4" class="form-imagecheck-input" checked="">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/pink-desk-in-the-home-office.jpg" alt="Pink desk in the home office" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck-radio" type="radio" value="5" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/young-woman-sitting-on-the-sofa-and-working-on-her-laptop.jpg" alt="Young woman sitting on the sofa and working on her laptop" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                              <div class="col-6 col-sm-4">
                                <label class="form-imagecheck mb-2">
                                  <input name="form-imagecheck-radio" type="radio" value="6" class="form-imagecheck-input">
                                  <span class="form-imagecheck-figure">
                                    <img src="./static/photos/coffee-on-a-table-with-other-items.jpg" alt="Coffee on a table with other items" class="form-imagecheck-image">
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Color Input</label>
                            <div class="row g-2">
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="dark" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-dark"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput form-colorinput-light">
                                  <input name="color" type="radio" value="white" class="form-colorinput-input" checked="">
                                  <span class="form-colorinput-color bg-white"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="blue" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-blue"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="azure" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-azure"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="indigo" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-indigo"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="purple" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-purple"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="pink" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-pink"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="red" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-red"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="orange" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-orange"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="yellow" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-yellow"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color" type="radio" value="lime" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-lime"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Color Input</label>
                            <div class="row g-2">
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="dark" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-dark rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput form-colorinput-light">
                                  <input name="color-rounded" type="radio" value="white" class="form-colorinput-input" checked="">
                                  <span class="form-colorinput-color bg-white rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="blue" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-blue rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="azure" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-azure rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="indigo" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-indigo rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="purple" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-purple rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="pink" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-pink rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="red" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-red rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="orange" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-orange rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="yellow" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-yellow rounded-circle"></span>
                                </label>
                              </div>
                              <div class="col-auto">
                                <label class="form-colorinput">
                                  <input name="color-rounded" type="radio" value="lime" class="form-colorinput-input">
                                  <span class="form-colorinput-color bg-lime rounded-circle"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Color picker</label>
                            <input type="color" class="form-control form-control-color" value="#0054a6" title="Choose your color">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Validation States </label>
                            <input type="text" class="form-control is-valid mb-2" placeholder="Valid State..">
                            <input type="text" class="form-control is-invalid" placeholder="Invalid State..">
                            <div class="invalid-feedback">Invalid feedback</div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Validation States (lite)</label>
                            <input type="text" class="form-control is-valid is-valid-lite mb-2" placeholder="Valid State..">
                            <input type="text" class="form-control is-invalid is-invalid-lite" placeholder="Invalid State..">
                          </div>
                          <label class="form-label">Form fieldset</label>
                          <fieldset class="form-fieldset">
                            <div class="mb-3">
                              <label class="form-label required">Full name</label>
                              <input type="text" class="form-control" autocomplete="off">
                            </div>
                            <div class="mb-3">
                              <label class="form-label required">Company</label>
                              <input type="text" class="form-control" autocomplete="off">
                            </div>
                            <div class="mb-3">
                              <label class="form-label required">Email</label>
                              <input type="email" class="form-control" autocomplete="off">
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Phone number</label>
                              <input type="tel" class="form-control" autocomplete="off">
                            </div>
                            <label class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <span class="form-check-label required">I agree to the Terms &amp; Conditions</span>
                            </label>
                          </fieldset>
                        </div>