<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="card-footer text-end">
                  <div class="d-flex">
                    <h1>Click Button for QR Reading</h1>
                    <a href="/qr-reader/" class="btn btn-link">
                    <button type="submit" class="btn btn-primary ms-auto">Click</button>
                    </a>
                  </div>
                </div>

<form class="d-flex" role="search" method="post" action="{% url 'search' %}">
    {% csrf_token %}
    <input class="form-control me-2"
           type="search" placeholder="Search" name="searched" required aria-label="Search">
    <button class="btn btn-outline-secondary"
            type="submit">Search</button>
</form>
</body>
</html>