<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code Reader</title>
</head>
<body>

    <h1>Qr Code Readed</h1>
    <p>Qr Code Data: {{ data }}</p>
    <p>{{ data }}</p>

    <img src = "/media/{{ object.image }}"></img>

    <h1>Add Type</h1>
    <a href="/type/" class="btn btn-primary">
        <button type="button">Click</button>
    </a>

    <h1>Another Operation</h1>
    <a href="/qr-reader/" class="btn btn-primary">
        <button type="button">Click</button>
    </a>
</body>
</html>